In [2]:
##Importing the necessary packages
import pandas as pd #easy to use open source data analysis and manipulate data
import numpy as np #used for working with arrays.
import plotly.express as px # used for data visualization
import plotly.graph_objects as go

from connection import connect_to_db #importing the function to connect to the database
import warnings
warnings.filterwarnings('ignore')


pd.set_option('display.max_colwidth',None)
pd.set_option('display.max_columns',None)

Connected to database: AdventureWorks-sqlite.db

### Sales & Revenue Analysis

1. What is the total revenue generated?

In [3]:
sales = """
    SELECT 
        SUM(LineTotal) AS 'Total Sales'
    FROM SalesOrderDetail
"""
sales = pd.read_sql(sales, connect_to_db())
sales

Connected to database: AdventureWorks-sqlite.db

     Total Sales
0  708690.153058

2. What is the total number of orders made?

In [4]:
orders = """
    SELECT
        SUM(OrderQty) AS 'Total Orders'
    FROM SalesOrderDetail
"""

orders = pd.read_sql(orders, connect_to_db())
orders

Connected to database: AdventureWorks-sqlite.db

   Total Orders
0          2087